   <div data-role="page" id="extraCredit">
            <div data-theme="b" data-role="header">
                <h3>
                    E-Rubric Tool
                </h3>
            </div>
            <div data-role="content">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#overall" data-role="button" >
                                Overall
                            </a>
                        </li>
                        <li>
                            <a href="#substance"  data-role="button">
                                Substance
                            </a>
                        </li>
                        <li>
                            <a href="#style" data-role="button">
                                Style
                            </a>
                        </li>
                        <li>
                            <a href="#extraCredit" data-role="button">
                                Extra Credit
                            </a>
                        </li>
                    </ul>
                </div>
             
           <ul data-role="listview" data-divider-theme="b" data-inset="true" id = "extraCredit">
                    <li data-role="list-divider" role="heading">
                        Extra Credit
                    </li>
                    <li data-theme="c">
                        <a href="#extraCredit" data-transition="slide">
                            Criterion 1 : 0 / 1
                        </a>
                    </li>
                    <li data-theme="c">
                        <a href="#extraCredit" data-transition="slide">
                            Criterion 2 : 1 / 2
                        </a>
                    </li>
                    <li data-theme="c">
                        <a href="#extraCredit" data-transition="slide">
                            Criterion 3 : 2 / 2
                        </a>
                    </li>
                </ul>
              </div>
             </div> 
             
		<script>
            //App custom javascript
        </script>
     </body>
</html>