<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js">
        </script>
    </head>
    <body>
        <div data-role="page" id="page1">
            <div data-theme="b" data-role="header">
                <h3>
                    E-Rubric Tool
                </h3>
            </div>
            <div data-role="content">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#page1" data-theme="" data-icon="">
                                Overall
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="">
                                Substance
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="">
                                Style
                            </a>
                        </li>
                        <li>
                            <a href="#page1" data-theme="" data-icon="">
                                Extra Credit
                            </a>
                        </li>
                    </ul>
                </div>
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-role="list-divider" role="heading">
                        Overall
                    </li>
                    <li data-theme="c">
                        <a href="#page1" data-transition="slide">
                            Substance
                        </a>
                    </li>
                    <li data-theme="c">
                        <a href="#page1" data-transition="slide">
                            Style
                        </a>
                    </li>
                    <li data-theme="c">
                        <a href="#page1" data-transition="slide">
                            Extra Credit
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <script>
            //App custom javascript
        </script>
    </body>
</html>