<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile.pagination.css">
        <style>
            /* App custom styles */
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile.pagination.js">
        </script>
    </head>
    <body>
        <div data-role="page" id="overall">
        <ul data-role="pagination">
	<li class="ui-pagination-prev"><a href="extraCredit">Extra Credit</a></li>
	<li class="ui-pagination-next"><a href="substance">Substance</a></li>
	</ul>
            <div data-theme="b" data-role="header">
                <h3>
                    E-Rubric Tool
                </h3>
            </div>
            <div data-role="content">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#overall" data-role="button" >
                                Overall
                            </a>
                        </li>
                        <li>
                            <a href="#substance"  data-role="button">
                                Substance
                            </a>
                        </li>
                        <li>
                            <a href="#style" data-role="button">
                                Style
                            </a>
                        </li>
                        <li>
                            <a href="#extraCredit" data-role="button">
                                Extra Credit
                            </a>
                        </li>
                    </ul>
                </div>
         
        <div data-role="collapsible-set" data-theme="b" data-content-theme="c">
                    <div data-role="collapsible" data-collapsed="true">
                        <h3>
                            Substance
                        </h3>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup">
                                <label for="textarea1">
                                    Overall Comments
                                </label>
                                <textarea id="textarea1" placeholder="">
                                    Roy G Big
                                </textarea>
                            </fieldset>
                        </div>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup" data-type="horizontal">
                                <legend>
                                </legend>
                                <input name="radiobuttons1" id="radio1" value="highOverall" type="radio" />
                                <label for="radio1">
                                    High
                                </label>
                                <input name="radiobuttons1" id="radio2" value="midOverall" type="radio" />
                                <label for="radio2">
                                    Middle
                                </label>
                                <input name="radiobuttons1" id="radio3" value="lowOverall" type="radio" />
                                <label for="radio3">
                                    Low
                                </label>
                            </fieldset>
                        </div>
                    </div>
                    <div data-role="collapsible" data-collapsed="true">
                        <h3>
                            Style
                        </h3>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup">
                                <label for="textarea2">
                                    Overall Comments
                                </label>
                                <textarea id="textarea2" placeholder="">
                                    Roy G Big
                                </textarea>
                            </fieldset>
                        </div>
                    </div>
                    <div data-role="collapsible" data-collapsed="true">
                        <h3>
                            Extra Credit
                        </h3>
                        <div data-role="fieldcontain">
                            <fieldset data-role="controlgroup">
                                <label for="textarea3">
                                    Overall Comments
                                </label>
                                <textarea id="textarea3" placeholder="">
                                    Roy G Biv
                                </textarea>
                            </fieldset>
                        </div>
                    </div>
                </div>
           </div> 
       	</div>
      
        <div data-role="page" id="substance">
            <div data-theme="b" data-role="header">
                <h3>
                    E-Rubric Tool
                </h3>
            </div>
            <div data-role="content">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li>
                            <a href="#overall" data-role="button" >
                                Overall
                            </a>
                        </li>
                        <li>
                            <a href="#substance"  data-role="button">
                                Substance
                            </a>
                        </li>
                        <li>
                            <a href="#style" data-role="button">
                                Style
                            </a>
                        </li>
                        <li>
                            <a href="#extraCredit" data-role="button">
                                Extra Credit
                            </a>
                        </li>
                    </ul>
                </div>
                           
                <ul data-role="listview" data-divider-theme="b" data-inset="true" id = "substance">
                    <li data-role="list-divider" role="heading">
                        Substance
                    </li>
                    <li data-theme="c">
                        <a href="#substance" data-transition="slide">
                            Criterion 1 : 3 / 5
                        </a>
                    </li>
                    <li data-theme="c">
                        <a href="#substance" data-transition="slide">
                            Criterion 2 : 19 / 20
                        </a>
                    </li>
                    <li data-theme="c">
                        <a href="#substance" data-transition="slide">
                            Criterion 3 : 22 / 25
                        </a>
                    </li>
                </ul>
              </div> 
       	</div>
       
        

            
       
        <script>
            //App custom javascript
        </script>
     </body>
</html>