

<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        </title>
        <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
        
        <style>
            /* App custom styles */
        </style>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js">
        </script>
        <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js">
        </script>
        <script type = "text/javascript" src = "var.js"></script> 
        <script src="jqswipe.js" type="text/javascript"></script>

        
        <script>
        var $critIs = "1";
		var $critOf = "3";
    	var $accompIs = "1";
    	var $accompOf = "4";
    	var $pointsIs = "1";
    	var $pointsOf = "10";
    	var $desIs = "1";
    	var $desOf = "4";
    	
    	
    	
 
    	
        </script>
    </head>
    <body>
    	
     
        <div data-role="page" id="page1">
        
       
            <div data-theme="b" data-role="header">
                <h2>
                    Assignment #4
                </h2>
            </div>
            <div data-role="content">
                <a data-role="button" data-transition="fade" href="#whole">
                    Assignment as a whole
                </a>
                <a data-role="button" data-transition="fade" href="#page2">
                    Part 1: Artwork Content
                </a>
                <a data-role="button" data-transition="fade" href="#aexecution">
                    Part 2: Artwork Execution
                </a>
                <a data-role="button" data-transition="fade" href="#wcontent">
                    Part 3: Writing Content
                </a>
                <a data-role="button" data-transition="fade" href="#wquality">
                    Part 4: Writing Quality
                </a>
            </div>
        </div>
         <div data-role="page" id="page2">
            <div data-theme="b" data-role="header">
                <h3>
                    Criterion <script = "text/javascript"> document.write($critIs + ' of ' + $critOf)</script>
                    
                    
                </h3>
            </div>
            <div data-role="content">
                <div>
                    <b>
                        Level of Accomplishment:
                        <br />
                       <script = "text/javascript"> document.write($accompIs + ' of ' + $accompOf)</script>    
                        <br />
                        <br />
                        
                        <br />
                        <br />
                        Points:
                        	<script = "text/javascript">
                        	document.write($pointsIs + ' of '+ $pointsOf);</script>
                        <br />
                        <br />
                        <br />
                        Description:
                        
                        	You successfully did <script = "text/javascript">
                        	document.write($desIs + ' of '+ $desOf);</script> tasks 
                        <br />
                        <br />                        
                        <br />
                        <br />
                        Would Benefit from:                 
                        	
                        <br />
                        <br />
                        <br />
                        Additional Comments:
                    </b>
                </div>
            </div>
        </div>
      
        
       
        <script>
          (function() {
// initializes touch and scroll events
        var supportTouch = $.support.touch,
                scrollEvent = "touchmove scroll",
                touchStartEvent = supportTouch ? "touchstart" : "mousedown",
                touchStopEvent = supportTouch ? "touchend" : "mouseup",
                touchMoveEvent = supportTouch ? "touchmove" : "mousemove";

 // handles swipeup and swipedown
        $.event.special.swipeupdown = {
            setup: function() {
                var thisObject = this;
                var $this = $(thisObject);

                $this.bind(touchStartEvent, function(event) {
                    var data = event.originalEvent.touches ?
                            event.originalEvent.touches[ 0 ] :
                            event,
                            start = {
                                time: (new Date).getTime(),
                                coords: [ data.pageX, data.pageY ],
                                origin: $(event.target)
                            },
                            stop;

                    function moveHandler(event) {
                        if (!start) {
                            return;
                        }

                        var data = event.originalEvent.touches ?
                                event.originalEvent.touches[ 0 ] :
                                event;
                        stop = {
                            time: (new Date).getTime(),
                            coords: [ data.pageX, data.pageY ]
                        };

                        // prevent scrolling
                        if (Math.abs(start.coords[1] - stop.coords[1]) > 10) {
                            event.preventDefault();
                        }
                    }

                    $this
                            .bind(touchMoveEvent, moveHandler)
                            .one(touchStopEvent, function(event) {
                        $this.unbind(touchMoveEvent, moveHandler);
                        if (start && stop) {
                            if (stop.time - start.time < 1000 &&
                                    Math.abs(start.coords[1] - stop.coords[1]) > 30 &&
                                    Math.abs(start.coords[0] - stop.coords[0]) < 75) {
                                start.origin
                                        .trigger("swipeupdown")
                                        .trigger(start.coords[1] > stop.coords[1] ? "swipeup" : "swipedown");
                            }
                        }
                        start = stop = undefined;
                    });
                });
            }
        };

//Adds the events to the jQuery events special collection
        $.each({
            swipedown: "swipeupdown",
            swipeup: "swipeupdown"
        }, function(event, sourceEvent){
            $.event.special[event] = {
                setup: function(){
                    $(this).bind(sourceEvent, $.noop);
                }
            };
        });

    })();
    
    	$('div.ui-page').live('swipeup',function() {
		alert("swiped up");
		});
		
		$('div.ui-page').live('swipedown',function() {
		alert("swiped down");
		});
		
		$('div.ui-page').live('swiperight', function() {
		//if(accompIs > 0){
			$accompIs = 3;
			$pointsIs = 2;
			$desIs = 4;
			alert("swipe left");
			//$('div.ui-page').trigger('pagecreate');
			//$('div.ui-page').listview('refresh');
	//	}
		});
		
		$('div.ui-page').live('swipeleft', function() {
		//if (accompIs <= accompOf){
			$accompIs = 2;
			$pointsIs = 7;
			$desIs = 6;
			alert("swipe right");
			//$('div.ui-page').trigger('pagecreate');
			//$('div.ui-page').listview('refresh');
			
		//}
		});
    
        </script>
     </body>
</html>